.icon{ 
   color: #f77206 ; /* Force color to apply */
}




/* Navbar Styles */
.navbar {
  background:linear-gradient(135deg, #e93802 ,rgb(236, 186, 128));
  color: #f5f3eb; /* Light Cream text for navbar */
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: #FFFFFF; /* White text for links */
}

.navbar .navbar-nav .nav-link:hover {
  color: #20b2aa; /* Light Sea Green for hover effect */
}

/* Sidebar Styles */


.sidebar {
  background-color: #00796b  ;
  color: rgb(231, 228, 222);
  width: 20%;
  min-height: 100vh; /* Ensures sidebar spans the entire viewport */
  overflow-y: auto; /* Scrollable if content exceeds the height */
  box-sizing: border-box; /* Include padding and borders in width calculation */
}
  
  .sidebar .nav-item button {
    text-align: left;
    background: none;
    border: none;
    padding: 10px;
    color: rgb(231, 228, 222);
    text-decoration: none !important; /* Ensure no underline */

  }
  
  
  .sidebar .nav-item button:hover {
    background-color: #f7900a65; /* Teal for hover effect */
    border-radius: 4px; /* Rounded corners on hover */
    color: #FFFFFF; /* Ensure text remains white on hover */
  }
  
  .sidebar .nav-item button.fw-bold {
    background-color: #f77206; /* Deep Sky Blue for active tab */
    color: #f5f3eb; /* Highlight active tab with gold color for visibility */
    border-radius: 4px;
  }
 
/* main Styles */


  .main {
    width: calc(100% - 20%); /* Dynamically adjust main content width */
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
  
  }

  .container-fluid {
    padding: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
}
  
  
 
/* Card Styles */

.card:hover {
  border: 2px solid transparent !important;
  box-shadow: 0 0 8px rgba(255, 145, 0, 0.8)!important;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  
}

/* Modal Overlay */
.modal.fade.show.d-block {
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.rbc-event {
  background-color: #ff6f61;  /* Color for event background */
  color: white;  /* Text color for events */
}

